{% load admin_static %}{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ TITLE|default:"Timeline" }}</title>

    <script src='{% static "js/dhtmlx/dhtmlxscheduler.js" %}' type="text/javascript" charset="utf-8"></script>
    <script src='{% static "js/dhtmlx/ext/dhtmlxscheduler_timeline.js"%}' type="text/javascript"  charset="utf-8"></script>
    <script src='{% static "js/dhtmlx/ext/dhtmlxscheduler_treetimeline.js"%}' type="text/javascript"  charset="utf-8"></script>
    <script src='{% static "js/dhtmlx/ext/dhtmlxscheduler_tooltip.js"%}' type="text/javascript" charset="utf-8"></script>

    <link rel='stylesheet' type='text/css' href='{% static "css/dhtmlx/dhtmlxscheduler.css" %}'>

    <style type="text/css" media="screen">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }

    </style>

    <script type="text/javascript" charset="utf-8">
        function init() {

            scheduler.locale.labels.timeline_tab = "Timeline";
            scheduler.locale.labels.section_custom = "Section";
            scheduler.config.details_on_create = true;
            scheduler.config.details_on_dblclick = true;
            scheduler.config.xml_date = "%Y-%m-%d %H:%i";
            scheduler.config.drag_resize = false;
	    scheduler.config.time_step = 30;

            //===============
            //Configuration
            //===============

            var elements = {{ types|safe }};


            var durations = {
                day:24 * 60 * 60 * 1000,
                hour:60 * 60 * 1000,
                minute:60 * 1000
            };

            scheduler.createTimelineView({
                section_autoheight:false,
                name:"timeline",
                x_unit:"{{ PARAMS.x_unit }}",
                x_date:"{{ PARAMS.x_date }}",
                x_step:{{ PARAMS.x_step }},
                x_size:{{  PARAMS.x_size }},
                x_start:{{ PARAMS.x_start }},
                x_length:{{ PARAMS.x_length }},
                y_unit:elements,
                y_property:"section_id",
                render:"tree",
                folder_dy:20,
                dy: 50,
                second_scale: {{ PARAMS.second_scale|safe }},
                event_dy: "{{ PARAMS.event_dy }}"
            });


            //===============
            //Data loading
            //===============
            scheduler.config.lightbox.sections = [
                {name:"description", height:130, map_to:"text", type:"textarea", focus:true},
                {name:"custom", height:23, type:"timeline", options:null, map_to:"section_id" },
                //type should be the same as name of the tab
                {name:"time", height:72, type:"time", map_to:"auto"}
            ]

            scheduler.init('events_scheduler', null, "timeline");
            scheduler.parse({{ events|safe }}, "json");

	    //=============================
            // Server backed connection
            //=============================

	    var dp = new dataProcessor("{% url data_processor %}")
	    dp.init(scheduler);

        }
    </script>
</head>
<body onload="init();">
<div id="events_scheduler" class="dhx_cal_container" style='width:100%; height:100%;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="tab_day" style="right:268px;">
            <a href="{% url timeline view='d' %}">{% trans 'Day' %}</a>
        </div>
        <div class="dhx_cal_tab" name="tab_week" style="right:204px;">
            <a href="{% url timeline view='w' %}">{% trans 'Week' %}</a>
        </div>
        <div class="dhx_cal_tab" name="tab_month" style="right:140px;">
            <a href="{% url timeline view='m' %}">{% trans 'Month' %}</a>
        </div>
        <div class="dhx_cal_tab" name="tab_quad" style="right:76px;">
            <a href="{% url timeline view='q' %}">{% trans '4 months' %}</a>
        </div>
    </div>
    <div class="dhx_cal_header">
    </div>
    <div class="dhx_cal_data">
    </div>
</div>
</body>
